<div class="component-wrapper">
  <fieldset class="perimeter-selection inverse">
    <legend><i class="glyphicon glyphicon-map-marker"></i> Location Scope</legend>
    <form>
      <div class="form-group">
        <select class="form-control input-md">
          <option>Countries</option>
          <option>District</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control input-md">
          <option>USA</option>
          <option>Canada</option>
        </select>
      </div>
    </form>
  </fieldset>
</div>