<div class="panel panel-default">
	<div class="panel-heading">
		<span class="panel-title">Social Feeds <i class="fa fa-facebook-official"></i> <i class="fa fa-twitter"></i></span>
		<div class="pull-right">
			<i class="fa fa-arrow-circle-right"></i> <a ui-sref="review-trackers">Rev. Tracker</a>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<div class="social-feed">
					<h4> <i class="fa fa-facebook-official"></i> <a>Christian Errol</a> <br><small><i class="fa fa-clock-o"></i> 2015-05-29</small></h4>
					<quote>Midas is the handiest.</quote>
				</div>
				<div class="social-feed">
					<h4> <i class="fa fa-twitter"></i> <a>@lucas.sky20</a> <br><small><i class="fa fa-clock-o"></i> 2015-05-29</small></h4>
					<quote>I will only let Midas' hand for my rocket's mainenance. #midas</quote>
				</div>
				<div class="social-feed">
					<h4> <i class="fa fa-twitter"></i> <a>@brucew2016</a> <br><small><i class="fa fa-clock-o"></i> 2015-05-29</small></h4>
					<quote>Bullet proof tire. Only at midas. #justice #vigilantelife</quote>
				</div>
				<div class="social-feed">
					<h4> <i class="fa fa-facebook-official"></i> <a>Bobby Jones</a> <br><small><i class="fa fa-clock-o"></i> 2015-05-29</small></h4>
					<quote>Midas is not good as before.</quote>
				</div>
			</div>
		</div>
	</div>
</div>